/**
* main.css
*
* Main style sheet for app styles
*
* @author    Kelli Rockwell <kellirockwell@mail.com>
* @copyright 2017 DUiT
* @since     File available since release 0.0.3  
*/
@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 200;
  src: url("../../../fonts/AmsiPro-XLight.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 200;
  src: url("../../../fonts/AmsiPro-XLightItalic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 300;
  src: url("../../../fonts/AmsiPro-Light.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 300;
  src: url("../../../fonts/AmsiPro-LightItalic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/AmsiPro-Regular.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 400;
  src: url("../../../fonts/AmsiPro-Italic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 500;
  src: url("../../../fonts/AmsiPro-SemiBold.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 500;
  src: url("../../../fonts/AmsiPro-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 600;
  src: url("../../../fonts/AmsiPro-Bold.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 600;
  src: url("../../../fonts/AmsiPro-BoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 700;
  src: url("../../../fonts/AmsiPro-Black.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 700;
  src: url("../../../fonts/AmsiPro-BlackItalic.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: normal;
  font-weight: 800;
  src: url("../../../fonts/AmsiPro-Ultra.ttf");
}

@font-face {
  font-family: 'Amsi';
  font-style: italic;
  font-weight: 800;
  src: url("../../../fonts/AmsiPro-UltraItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 100;
  src: url("../../../fonts/AmsiProNarw-Thin.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 100;
  src: url("../../../fonts/AmsiProNarw-ThinItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 200;
  src: url("../../../fonts/AmsiProNarw-XLight.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 200;
  src: url("../../../fonts/AmsiProNarw-XLightItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 300;
  src: url("../../../fonts/AmsiProNarw-Light.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 300;
  src: url("../../../fonts/AmsiProNarw-LightItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/AmsiProNarw-Regular.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 400;
  src: url("../../../fonts/AmsiProNarw-Italic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 500;
  src: url("../../../fonts/AmsiProNarw-SemiBold.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 500;
  src: url("../../../fonts/AmsiProNarw-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 600;
  src: url("../../../fonts/AmsiProNarw-Bold.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 600;
  src: url("../../../fonts/AmsiProNarw-BoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 700;
  src: url("../../../fonts/AmsiProNarw-Black.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 700;
  src: url("../../../fonts/AmsiProNarw-BlackItalic.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: normal;
  font-weight: 800;
  src: url("../../../fonts/AmsiProNarw-Ultra.ttf");
}

@font-face {
  font-family: 'Amsi Narrow';
  font-style: italic;
  font-weight: 800;
  src: url("../../../fonts/AmsiProNarw-UltraItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 100;
  src: url("../../../fonts/AmsiProCond-Thin.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 100;
  src: url("../../../fonts/AmsiProCond-ThinItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 200;
  src: url("../../../fonts/AmsiProCond-XLight.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 200;
  src: url("../../../fonts/AmsiProCond-XLightItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 300;
  src: url("../../../fonts/AmsiProCond-Light.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 300;
  src: url("../../../fonts/AmsiProCond-LightItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/AmsiProCond-Regular.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 400;
  src: url("../../../fonts/AmsiProCond-Italic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url("../../../fonts/AmsiProCond-SemiBold.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 500;
  src: url("../../../fonts/AmsiProCond-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url("../../../fonts/AmsiProCond-Bold.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 600;
  src: url("../../../fonts/AmsiProCond-BoldItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../../../fonts/AmsiProCond-Black.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 700;
  src: url("../../../fonts/AmsiProCond-BlackItalic.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: normal;
  font-weight: 800;
  src: url("../../../fonts/AmsiProCond-Ultra.ttf");
}

@font-face {
  font-family: 'Amsi Condensed';
  font-style: italic;
  font-weight: 800;
  src: url("../../../fonts/AmsiProCond-UltraItalic.ttf");
}

body {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hidden {
  display: none !important;
}

.centering-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

#fade-overlay {
  background-color: rgba(147, 158, 154, 0.4);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  opacity: 0;
  z-index: -10;
}

#header-container {
  position: relative;
  z-index: 2;
}

#main-container {
  position: relative;
  z-index: 1;
}

header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(50, 56, 54, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 9vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1vh;
}

header .col.one, header .col.three {
  max-width: 100px;
  min-width: 70px;
  width: 6%;
}

header .col.two {
  width: 88%;
}

header .col.two time {
  display: block;
  font-family: "Open Sans", sans-serif;
}

header .col.two time#time {
  color: #468f77;
  font-size: 2.4em;
  padding-bottom: 5px;
}

header .col.two time#date {
  color: #939e9a;
  padding-left: 1px;
}

header #settings-btn {
  background-color: #3b394d;
  border-radius: 100%;
  box-sizing: border-box;
  color: #dce5e2;
  display: table-cell;
  height: 1.7em;
  line-height: 1.7em;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  vertical-align: middle;
  width: 1.7em;
}

@media (min-width: 0px) {
  header #settings-btn {
    font-size: 1.3em;
  }
}

@media (min-width: 1024px) {
  header #settings-btn {
    font-size: 1.7em;
  }
}

header #settings-btn:hover {
  background-color: #23222b;
  cursor: pointer;
}

header #quick-add-btn {
  border-radius: 100%;
  box-sizing: border-box;
  color: #323836;
  display: table-cell;
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  vertical-align: middle;
  width: 1.5em;
}

header #quick-add-btn:hover {
  background-color: #edf2f0;
  color: #468f77;
  cursor: pointer;
}

aside#settings {
  background-color: white;
  border-right: 12px solid #b4c66e;
  box-shadow: 2px 0 6px rgba(50, 56, 54, 0.3);
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 95vh;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  z-index: 5;
}

@media (min-width: 0px) {
  aside#settings {
    width: 80%;
  }
}

@media (min-width: 600px) {
  aside#settings {
    max-width: 350px;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  aside#settings {
    max-width: 400px;
    padding-top: 80px;
    width: 30%;
  }
}

@media (min-width: 0px) {
  aside#settings {
    padding: 30px 15px;
  }
}

@media (min-width: 600px) {
  aside#settings {
    padding: 30px;
  }
}

aside#settings img {
  max-width: 50px;
  min-width: 30px;
  width: 20%;
}

aside#settings ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  text-align: left;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

aside#settings ul li {
  box-sizing: border-box;
  padding: 1px;
  width: 100%;
}

aside#settings ul li a,
aside#settings ul li a:link,
aside#settings ul li a:active {
  box-sizing: border-box;
  color: #323836;
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 1em;
  padding: 12px;
  width: 100%;
}

@media (min-width: 0px) {
  aside#settings ul li a,
  aside#settings ul li a:link,
  aside#settings ul li a:active {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  aside#settings ul li a,
  aside#settings ul li a:link,
  aside#settings ul li a:active {
    font-size: 1.2em;
  }
}

aside#settings ul li a:hover {
  background-color: #edf2f0;
}

aside#settings ul li a:hover i {
  color: #468f77;
}

aside#settings ul li i {
  color: #beccc7;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 25px;
}

aside#settings ul hr {
  border: 1px solid rgba(147, 158, 154, 0.3);
}

section#center {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #edf2f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 85vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 0px) {
  section#center aside,
  section#center main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    padding: 15px;
  }
}

@media (min-width: 600px) {
  section#center main {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  section#center aside {
    -webkit-box-flex: 1;
    -webkit-flex: 1 -webkit-calc(25% - 1em);
    -ms-flex: 1 calc(25% - 1em);
    flex: 1 calc(25% - 1em);
  }
  section#center aside#change-view {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  section#center aside#detail-view {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media (min-width: 1024px) {
  section#center main {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 30px;
  }
  section#center aside {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px;
  }
  section#center aside#change-view {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  section#center aside#detail-view {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
}

section#center aside:first-child {
  border-right: 1px solid white;
}

section#center aside:last-child {
  border-left: 1px solid rgba(147, 158, 154, 0.3);
}

section#center main {
  border-left: 1px solid rgba(147, 158, 154, 0.3);
  border-right: 1px solid white;
  overflow: auto;
}

footer {
  background-color: #23222b;
  display: table-cell;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  height: 5vh;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

footer span {
  color: #616c68;
}

footer span i {
  color: #d28484;
}

footer span a,
footer span a:link,
footer span a:active,
footer span a:visited {
  color: #939e9a;
}

footer span a:hover {
  color: #dce5e2;
}

/*# sourceMappingURL=main.css.map */