/**
 * main.css
 *
 * Main style sheet for app styles
 *
 * @author    Kelli Rockwell <kellirockwell@mail.com>
 * @copyright 2017 DUiT
 * @since     File available since release 0.0.3  
 */

@import 'breakpoints';
@import 'variables';

body {
	padding: 0;
	margin: 0;
}

a,
a:link,
a:active,
a:hover,
a:visited {
	text-decoration: none;
	transition: all 0.2s linear;
}

.hidden {
	display: none !important;
}

.centering-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

header {
	align-items: center;
	border: 2px solid gray;
	display: flex;
	height: 9vh;
	justify-content: space-between;	
	padding-bottom: 1vh;
	.col {
		&.one,
		&.three {
			max-width: 100px;
			min-width: 50px;
			width: 6%;
		}
		&.two {
			align-self: flex-end;
			width: 88%;
			time {
				display: block;
				font-family: $main-stack;
				&#time {
					color: $b-green;
					font-size: 3em;
					font-weight: 300;
				}
				&#date {
					color: $gray40;
					padding-left: 1px;
				}
			}
		}
		&.three {
			border: 2px solid orange;
		}
	}
	#settings-btn {
		@include respond-to('tiny') {
			font-size: 1.3em;
		}
		@include respond-to('medium') {
			font-size: 1.7em;
		}

		background-color: $l-purple;
		border-radius: 100%;
		box-sizing: border-box;
		color: $gray10;
		display: table-cell;
		height: 1.7em;
		line-height: 1.7em;
		text-align: center;
		transition: all 0.2s linear;
		vertical-align: middle;
		width: 1.7em;
		&:hover {
			background-color: $purple;
			cursor: pointer;
		}
	}
}

aside#settings {
	@include respond-to('tiny') {
		width: 80%;
	}
	@include respond-to('small') {
		width: 50%;
	}
	@include respond-to('medium') {
		width: 30%;
		max-width: 400px;
	}

	background-color: $gray10;
	box-shadow: 4px 0 20px rgba($gray80, 0.3);
	box-sizing: border-box;
	display: inline-block;
	float: left;
	height: 95vh;
	left: 0;
	padding: 30px;
	position: absolute;
	top: 0;
	transition: width 0.2s linear;
	img {
		min-width: 30px;
		width: 20%;
		max-width: 50px;
	}
}

section#center {
	@include respond-to('tiny') {
		aside,
		main {
			flex: 1 100%;
		}
	}
	@include respond-to('small') {
		main {
			order: 1;
		}
		aside {
			flex: 1 calc(25% - #{$gutter});
			&#change-view {
				order: 2;
			}
			&#detail-view {
				order: 3;
			}
		}
	}
	@include respond-to('medium') {
		main {
			flex: 2;
			order: 2;
		}
		aside {
			flex: 1;
			&#change-view {
				order: 1;
			}
			&#detail-view {
				order: 3;
			}
		}
	}

	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	height: 85vh;
	justify-content: space-between;
	aside {
		border: 2px solid red;
	}
	main {
		border: 2px solid blue;
	}
}

footer {
	background-color: $purple;
	display: table-cell;
	font-family: $main-stack;
	font-size: 0.7em;
	height: 5vh;
	text-align: center;
	vertical-align: middle;
	width: 100vw;
	span {
		color: $gray60;
		i {
			color: $pink;
		}
		a,
		a:link,
		a:active,
		a:visited {
			color: $gray40;
		}
		a:hover {
			color: $gray10;
		}
	}
}
